<div class="card text-white bg-dd mb-3 text-center">
  <div class="card-header">
    Intereses personales
  </div>
  <div class="row">
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">Tecnologías Front</h5>
        <p class="card-text text-start">
          Estoy realizando un curso de Angular (esta página está hecha con Angular jeje), en general me interesa este
          aspecto y me
          entusiasma la idea de crear aplicaciones de información donde se combine esta tecnología con ciencia de datos.
        </p>
      </div>
    </div>

    <div class="col">
      <div class="card-body">
        <h5 class="card-title">Tecnologías de backend</h5>
        <p class="card-text text-start">
          Reforzando la idea anterior es necesario tener conocimiento en bases de datos, consumo de APIS, etc. Tengo
          conocimientos en
          bases de datos relacionales y no relacionales, también en consumo de APIS para despliegue de datos. Me
          gustaría aprender más
          sobre este campo ya que me parece sumamente intersante.
        </p>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">Respecto a la ciencia de datos</h5>
        <p class="card-text text-start">
          Me interesa también este campo debido a las herramientas que he aprendido en los años de estudios en la
          universidad, Conozco temas sobre estadística aplicada a la inteligencia artificial y análisis de datos,
          conozco sobre como interpretar y extraer información oculta desde datos puros. Por lo tanto, esta área es un
          posible lugar en el que pueda desarrollar una carrera. Pero por ahora estoy en un momento de exploración y
          aprendizaje.
        </p>
      </div>
    </div>
  </div>
</div>
