<div class="card text-white bg-dd mb-3 text-center">
  <div class="card-header">
    Mi experiencia
  </div>
  <div class="row">
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">Página web para InnovaresSpa</h5>
        <p class="card-text text-start">
          Este fue mi primer trabajo en la industria, se desarrolló una aplicación web que permitía
          gestionar distintos tipos de acciones escenciales para el cliente. La duración fue de tres meses y se realizó
          en el lenguaje de programación Javascript, Php, y con Bootstrap. Finalmente, esto me sirvió para poner en
          práctica los conocimientos adquiridos en la carrera. En especial las metodologías ágiles de desarrollo, como
          Scrum.
        </p>
      </div>
      <div class="card-footer text-muted">
        Año 2020
      </div>
    </div>

    <div class="col">
      <div class="card-body">
        <h5 class="card-title">Ciencia de datos e inteligencia artificial</h5>
        <p class="card-text text-start">
          En este trabajo estoy implementando los conocimientos adquiridos en la carrera, en especial el uso de la
          inteligencia artificial y análisis de datos. Como herramientas de trabajo utilizo Python, en especial
          librerías como Keras y Tensorflow, que son muy útiles para este tipo de problemas. También por parte de
          ciencia de datos utilizo la librería Pandas para así explorar y encontrar información oculta dentro de los
          datos.
        </p>
      </div>
      <div class="card-footer text-muted">
        Año 2021 a la actualidad
      </div>
    </div>
  </div>
</div>
