<ul class="nav justify-content-center">
  <li>
    <h3 class=" text-light">Hola! Gusto en saludarte</h3>
  </li>
  <li class="ps-5 nav-item">
    <a class="nav-link fab fa-twitter fa-lg" target="_blank" rel="noopener noreferrer" href="https://twitter.com/bastiaggernaut"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-light fab fa-github fa-lg" target="_blank" rel="noopener noreferrer" href="https://github.com/BM-Master"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-light fab fa-linkedin fa-lg" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/bastián-ignacio-martínez-soto-18015016a/"></a>
  </li>
</ul>
