<div class="text-center mt-2">
  <h4>Acerca de mi</h4>

  <div class="container m-0 p-0 ">
    <img class="img-fluid rounded float-center border border-3 border-dark rounded" src="../../assets/photo.png" alt="imagen personal">
  </div>
</div>

<div class="container mt-4 bg-custom-dark border border-3 border-dark rounded">
  <p>Mi nombre es Bastián Martínez, actualmente soy estudiante de pregado en Ciencia de la Computación en la Universidad
    de Santiago de Chile

    Por el perfil de ciencia de la computación tengo una fuerte formación en el área científica, especialmente en
    análisis de datos, además me estoy adentrando en el mundo de la inteligencia artificial. Sin embargo también me
    interesa el campo de la ingeniería de software, por lo tanto actualmente estoy explorando ambos mundos, el
    científico y el de ingeniero de software.

    Me apasiona estudiar y comprender mejor como funciona el mundo</p>
</div>
